<style>
    .tabledata-format {
        padding: 5px;
    }
    .text-capitalize {
        text-transform: capitalize;
    }
</style>

<h1>Data Seluruh Karyawan PT. JFD BP Weekday</h1>

<a href="/karyawan/create">
    <button>+ karyawan baru</button>
</a>
<br><br>

<table border="1">
    <thead>
        <tr>
            <th class="text-capitalize tabledata-format">#</th>
            <th class="text-capitalize tabledata-format">nama</th>
            <th class="text-capitalize tabledata-format">departemen</th>
            <th class="text-capitalize tabledata-format">action</th>
        </tr>
    </thead>
    <tbody>
        <% for (let i=0; i < datakaryawan.length; i++) { %>
            <tr>
                <td class="tabledata-format"><%= i+1 %></td>
                <td class="tabledata-format"><%= datakaryawan[i].nama %></td>
                <td style="background-color: <%= (datakaryawan[i].departemen_nama) ? '' : 'red' %>;" class="tabledata-format"><%= datakaryawan[i].departemen_nama %></td>
                <td class="tabledata-format">
                    <a href="/karyawan/detail/<%= datakaryawan[i].id %>">
                        <button>detail</button>
                    </a>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>
